img,
svg {
  /*Classe sem ponto*/
  border-radius: 30px;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: end;
}

.navbar-expand-lg .navbar-collapse:hover {
  color: aliceblue;
}

/*CARDS*/
.card-group {
  padding: 30px;
}

.card-img-top {
  border-radius: 20px;
  padding: 7px;
}

.fa-brands {
  color: aliceblue;
}

.footer {
  text-align: center;
  background-image: url("../Imagens/bg.jpg"); /*../Folder/arquive*/
  padding: 40px 0;
}

.corpoPagina {
  margin-top: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(230, 96, 13) 0%,
    rgb(201, 10, 10) 51%,
    rgb(214, 45, 116) 100%,
    rgb(214, 211, 15) 100%
  );
}

.botao {
  margin: 5px;
  font-size: large;
  background-color: blue;
  border-radius: 5px;
}
